.card-list {
  display: grid;
  grid-template-columns: repeat(
      auto-fit,
        /* minmax(350px,  1fr ) */
      minmax(min(100%, 350px) /* min value */, 1fr /* max value */)
  );
  gap: 20px;
}
